* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background: #fff;
}
header {
    width: 100%;
    height: 55px;
    padding: 10px;
    /* background: chartreuse; */
}
.right-side {
    display: flex;
    float: right;
    margin-right:10px;
    align-items: center;
}
.gmail,
.images,
.apps,
.user {
    margin-right: 25px;
    cursor: pointer;
}
.apps,.user {
    margin-top: 7px;  
}
.user img {
    width: 27px;
    margin-top: 2px;
}
a {
    text-decoration: none;
    color: inherit;
}
main {
    text-align: center;
    margin-top: 200px;
}
.google {
    margin-bottom: 20px;
}
input {
    width: 36%;
    height: 50px;
    outline: 0;
    border: 1px solid #dadce0;
    border-radius: 50px;
    margin-bottom: 25px;
}
input[type = search] {
    padding-left: 45px;
    padding-right: 55px;
}
input:hover{
    box-shadow: 0 0 7px #dadce0;
}
.search-icon {
    position: relative;
    width: 20px;
    left: 5vh;
    top: 6px;   
}
.mic-icon {
    cursor: pointer;
    position: relative;
    right: 45px;
    top: 8px;
}
button {
    cursor: pointer;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 3px;
}
button:hover{
    border: 1px solid #dadce0;
    border-radius: 3px;
    box-shadow: 0 0 5px #dadce0;
}
.google-search {
    margin-right: 10px;
}
.languages {
    margin-top: 30px;
}
.languages a {
    color: blue;
    margin: 2px;
    padding: 2px;
    font-size: 12px;
}
footer {
    display: flex;
    position: relative;
    top: 32vh;
    background: #f2f2f2;
    justify-content: space-between;
    text-transform: capitalize;
    padding: 25px;
    border-top: 1px solid #dadce0;
}
.left-footer a {
    margin-left: 15px;
}
.right-footer a {
    margin-right: 15px;
}





